@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

#root{
  height: 1000px;
  color: white!important;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  
}
h1,p,span{
  font-family: 'Montserrat', sans-serif;

}



.nav-link:hover{
  background-color: rgba(255, 245, 255, 0.2);
  border-bottom-color: #abcdef;
}

.navbar{
  width: 100%;
}

a.navbar-brand {
  font-size: 100%;
  color: rgb(255, 255, 255)!important;
  border: 2px solid white;
  padding: 11px;
}

img.card-img-top{
  width: 30%;
  border-radius: 1000px;

}

.card-title{
  color: white;
  width:25%;
  border:3px solid white;
  padding: 10px
}

.main-header{
  background: #A8EB12!important; 
  color: black;
}

#cardBody{
  background: rgb(230, 254, 243)!important; 
  /* border: 2px solid rgb(74, 199, 141); */
}

.about-me,.work-experience,.home{
  background: none!important;
  border-radius: 20px!important;
}

@media only screen and (max-width: 991px){ 
  .card-title{
    width:50%;
  }
  
}

@media only screen and (max-width: 460px){ 
  .card-title{
    font-size: 100%;
    width:80%;
  }
}
